* {
    border: 1px solid red;
    background-color: rgb(97, 97, 97);
}

@font-face {
    font-family: painted-lady;
    src: url(font/painted_lady/Painted\ Lady.otf);
}

/* @media (min-width: 56.25em); */

body {
    display: grid;
    place-items: center;
}


header {
    position: fixed;
    top: .5rem;
    width: 100%;
    height: max-content;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}

img {
    background-color: rgb(97, 97, 97);
    width: 80px;
    height: 80px;
}

.userChoice {
    font-family: painted-lady;
    font-size: 1.5em;
    /* color: black; */
    display: flex;
    margin-left: 50px;
}

.playerX,
.playerO {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 8rem;
    height: 2.6rem;
    margin: 8px;
    cursor: pointer;
}

#levels {
    outline: none;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: black;
    background-color: rgb(97, 97, 97);
    border: 2px solid black;
    border-radius: 5px;
    width: 8rem;
    height: 2.6rem;
    cursor: pointer;
}