* {
    /* border: 1px solid red; */
    background-color: rgb(97, 97, 97);
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: painted-lady;
    src: url(font/painted_lady/Painted\ Lady.otf);
}

html {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
}

/* HEADER */

header {
    /* position: fixed; */
    top: .5rem;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}

/* LOGO */

.logo img {
    background-color: rgb(97, 97, 97);
    width: 80px;
    height: 80px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

/* PLAYER SELECTION */

.userChoice {
    font-family: painted-lady;
    font-size: 1.5em;
    /* color: black; */
    margin-left: 50px;
}

.userChoice-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userSelect {
    display: flex;
}

.playerX,
.playerO {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
    font-family: painted-lady;
    font-size: 2rem;
    /* font-weight: bold; */
    border-radius: 10px;
    width: 8rem;
    height: 2.6rem;
    margin: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
}

/* Difficulty menu*/

#levels {
    outline: none;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: black;
    background-color: rgb(97, 97, 97);
    /* border: 2px solid black; */
    border-radius: 5px;
    width: 8rem;
    height: 2.6rem;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
}

/* .gameLevel {
    position: relative;
}

.gameLevel select {
    display: none;
}

.select-selected {
    background-color: red;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border: white;
}

.select-selected.select-arrow-active:after {} */

/* MAIN CONTENT */

.gameboardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameboard {
    width: 310px;
    min-height: 310px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
    gap: 20px;
    padding: 20px 5px;
}

.board {
    /* border: 2px solid black; */
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.gameRestart {}

/* SCORE CARD */

.gameResult {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.player,
.tie,
.computer {
    border: 1px solid black;
    width: 5rem;
}