* {
    /* border: 1px solid red; */
    background-color: rgb(97, 97, 97);
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: painted-lady;
    src: url(font/painted_lady/Painted\ Lady.otf);
}

/* @media (min-width: 56.25em); */

html {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    height: 100%;
}


header {
    /* position: fixed; */
    top: .5rem;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    align-items: center;
}

img {
    background-color: rgb(97, 97, 97);
    width: 80px;
    height: 80px;
}

.userChoice {
    font-family: painted-lady;
    font-size: 1.5em;
    /* color: black; */
    display: flex;
    margin-left: 50px;
}

.playerX,
.playerO {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    width: 8rem;
    height: 2.6rem;
    margin: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
}

#levels {
    outline: none;
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: black;
    background-color: rgb(97, 97, 97);
    border: 2px solid black;
    border-radius: 5px;
    width: 8rem;
    height: 2.6rem;
    cursor: pointer;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
}

.gameboard {
    width: 310px;
    min-height: 310px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
    gap: 20px;
    padding: 20px 5px;
}

.board {
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .5);
}